{% load static %}
{% load modstags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|default:"Заголовок отсутствует" }}</title>
    <link type="text/css" href="{% static 'mods/css/styles.css' %}" rel="stylesheet"/>

</head>
<body>

<div style="position: absolute; z-index: 100; padding: 10px"><a href="{% url 'home' %}"><img src="{% static 'mods/images/logo.png' %}" alt="Union plus" style="width: 200px; float=rigth; position: absolute; rigth: 20px;"></a></div>

<header>
    <ul style="text-align: right; font-size: 18px; padding: 5px; margin: 50px">
    <li style="display: inline-block"><strong><a href="{% url 'home' %}">На главную</a></strong></li>
    <li style="display: inline-block"><strong><a href="{% url 'about' %}">О сайте</a></strong></li>
    <li style="display: inline-block"><strong><a href="{% url 'create' %}">Добавить статью</a></strong></li>
        {% if user.is_authenticated %}
        <li style="display: inline-block"><strong>{{ user.username }}</strong></li>
        <li style="display: inline-block"><strong><form method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button type="submit" style="background:none; border:none; color:#FDC073; cursor:pointer;
					font-size: 20px; font-family: Arial;">Разлогиниться</button>
</form></strong></li>
        {% else %}
        <li style="display: inline-block"><strong><a href="{% url 'users:login' %}">Вход</a></strong></li>
        <li style="display: inline-block"><strong>Регистрация</strong></li>
        {% endif %}
    </ul>
</header>

<div class="container">
    <div class="sidebar">
        {% block leftbar %}
        <ul>
            <li>Все категории</li>
            {% show_categoryes %}
        </ul>
        {% show_tags %}
        {% endblock %}
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    Все права защищены
</footer>

</body>
</html>